*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 550px;
    height: 550;
    margin: auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    gap: 5px;
    padding: 5px;
}

.cell{
    height: 100px;
    border: 2px solid red;
}